*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 60.5%;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
body {
  margin: 0;
  //whit,size,line higth
  font: 300 11px/1.4 "Helvetica Neue", sans-serif;
  color: #444;
  background-color: #022c43;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 600px) {
  // body {
  //   margin: 0;

  //   overflow-x: hidden;
  //   display: block;
  //   -webkit-font-smoothing: antialiased;
  //   -moz-osx-font-smoothing: grayscale;
  // }
}
